@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100;400&family=Roboto&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.hero-container{
  height: 100vh;
  background: linear-gradient(180deg, #1787fc42, #20bfa929 55.21%, #c7d2f000);
  /* padding: 12em 0 6em; */
}
.header-container{
  height: 80px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px;
  border-bottom:  1px solid white ;
}

.logo-container{
  padding: 20px;
  /* border-right: 2px solid white; */
  /* margin-right: auto; */
}
.logo-container img{
  width: 120px;
  height: 50px;
}
.header-container .line{
  width: 2px !important;
  height: 90%;
  background-color: white;
  z-index: 2000;
}