@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100;400;600&family=Roboto&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* Hero and Nav links */
.hero-container{
  height: 100vh;
  background: linear-gradient(180deg, #1787fc42, #20bfa929 55.21%, #c7d2f000);
}
/* Nav links */
.header-container{
  height: 85px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px;
  border-bottom:  1px solid rgba(255, 255, 255, 0.511);
  font-family: Poppins, sans-serif;
  gap: 30px;
}

.logo-container{
  padding: 20px;
}
.logo-container img{
  width: 120px;
  height: 50px;
}
.header-container .line{
  width: 2px;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.511);
  z-index: 2000;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.nav-links-container {
  display: flex;
  gap: 15px;
}
.nav-links-container a{
  text-decoration: none;
  color: #1B1D21;
  font-weight: 600;
}

.nav-links-container i{
  color: #15497E;
}

.nav-links-container .overlay{
  background-color: white;
  height: 90px !important;
  width: 190px;
  overflow: visible;
  position: absolute;
  top: 60px;
  /* transform: translateX(100px); */
  border-radius:10px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  gap: 10px;
}
.hide{
  opacity: 0 !important;
}
.hide-nav{
  display: none !important;
}
.hide-overlay{
  visibility: hidden;
}
.nav-links-container .overlay a{
  font-size: 13px;
  color: #15497e;
  transition: padding .6s ease-in;
  font-weight: 600;
  cursor: pointer;
}
.overlay .container {
  display: flex;
  gap: 10px;
}

.buttons{
  display: flex;
  gap: 15px;
}
.btn{
  text-decoration: none;
  align-items: center;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s; 
   user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  line-height: 38px !important;
}
.btn-1{
  background: inherit;
  border: 1px solid #000428;
  color: #000428;
  border-radius: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-2{
  background: #3ab75d;
  height: 40px;
  color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* End of Nav links and Logo */

/* Main Hero  */
.main-hero-container{
  font-family: 'Libre Baskerville', Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  gap: 15px;
}
.main-hero-container h1{
  font-size: 60px;
  text-align: center;
  line-height: 81px;
  font-weight: 400;
  color: #212529;
}
.big-text{
  padding: 20px;
}
.main-hero-container span {
  background: #9CD543;
  padding: 0px 10px;
}
.main-hero-container p{
  font-size: 18px;
  color: #15497E;
  max-width: 500px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}
.main-hero-container .btn-hero{
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 15px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-height: 40px;
  background: #3ab75d;
  color: #fff;
  font-size: 14px;
}
.main-hero-container .main-hero-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-hero-container .play-icon{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #8e8c957a;
  border-radius: 8px;
  cursor: pointer;
}
.main-hero-container .play-icon i{
  color: #3ab75d;
}

/*End of Hero Area  */

/* Background-Image */
.image-bg{
  height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% !important;
    margin: 0;
    background: url(image-bg.png);
    margin-bottom: 40px;
}

.scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: scrollAnimation 1.5s infinite;
  margin-bottom: 60px;
}
.scroll img{
  width: 25px;
  height: 120px;
}
@keyframes scrollAnimation {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(5px);
  }

  100% {
        transform: translateY(0px);
  }
}

/* About */
.about{
  display: flex;
  width: 85%;
  margin: auto;
  flex-direction:column ;
}
.about h2{
  font-size: 14px;
  text-transform: uppercase;
  color: #3ab75d;
  font-weight: 700;
  font-family: Poppins,sans-serif;
}
.about .flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.about .flex .flex-1{
  color: #15497e;
  font-size: 40px;
  line-height: 58px;
  font-family: Libre Baskerville, serif;
}
.about .flex .flex-2{
  margin: 0;
  color: #063a4f;
  line-height: 173%;
  font-family: Poppins, serif;
}
.about hr, .section-one hr{
  background-color: rgba(255, 255, 255, 0.511);
  color: rgba(255, 255, 255, 0.511);
}

/* Section One */
.section-one{
  justify-content: center;
  align-items: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 80px 0px;
  gap: 80px;
}
.section-one h2{
  text-align: center;
  line-height: 81px;
  font-family: Libre Baskerville, serif;
  font-size: 60px;
  color: #15497e;
  max-width: 600px;
}
.section-one h2 span {
  background: #e0ffaf;
  padding: 0px 10px;
}
.section-one .grid-three{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* margin-bottom: 50px; */
}
.section-one .grid-three .item{
  display: flex;
  flex-direction: column;
}
.section-one .grid-three .item .blue-bg:hover{
  background: #15497e;
}
.section-one .grid-three .item .blue-bg:hover > .title,.section-one .grid-three .item .blue-bg:hover> .description, .section-one .grid-three .item .blue-bg:hover> i {
  color: white;
}
.section-one .grid-three .item .blue-bg:hover + h1{
  color: #f2f2f2;
}
.section-one .grid-three .item > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #ebf5ff;    
  padding: 2em 2em;
  transition: .5s ease-in;
  margin: 0px;
  height: 320px;
  justify-content: center;
}
.section-one .grid-three .item  .title{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #15497e;
  font-family: Poppins,sans-serif;
}
.section-one .grid-three .item .description {
  font-size: 18px;
  color: #063a4f;
  line-height: 166%;
  font-family: Poppins,sans-serif;
}
.section-one .grid-three .item i{
  font-size: 25px;
}
.section-one .grid-three .item h1 {
  font-size: 96px;
  color: #0004280d;
  font-weight: 700;
  font-family: Libre Baskerville, serif;
  text-align: right;
  position: relative;
  top: -60px;
  margin: 0px;
}
.section-one hr{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.511);
  color: rgba(255, 255, 255, 0.511);
}


/* Section two */
.section-two{
  width: 85%;
  display: grid;
  gap: 70px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.left-flex,.left-flex-two{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.left-flex-two .item{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}
.item-flex{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
}
.section-two-title{
  text-align: left;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #15497e;
  font-family: Poppins,sans-serif;
}
.section-two-desc{
  display: block;
  font-size: 14px;
  line-height: 177%;
  color: #15497e99;
  padding-right: 5em;
  padding-top: 0.5em;
  font-family: Poppins,sans-serif;
  font-weight: 700;
}
.section-two h2 {
  text-align: left;
  line-height: 60px;
  font-family: Libre Baskerville, serif;
  font-size: 42px;
  color: #15497e;
  /* max-width: 600px; */
  font-weight: 400;
}

.section-two h2 span {
  background: #e0ffaf;
  padding: 0px 10px;
}
.section-two-img img{
  width: 85px;
  height: 85px;
}
.section-two-right-bg{
  background: url(family.png);
  height: 450px;
  border-radius: 10px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% !important;
}

/* Section Three */
.section-three{
  background: #00042805;
  padding: 4em 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}
.section-three-flex{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-three-flex-two{
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}
.section-three-flex-two .num{
  line-height: 1.5;
  font-size: 31px;
  color: #9cd543;
  font-weight: 700;
  margin-right: 3em;
  display: block;
  font-family: Poppins,sans-serif;
}
.section-three-flex-two .title {
  font-size: 30px;
  color: #15497e;
  font-weight: 700;
  margin: 0;
  display: block;
  /* width: 60%; */
  line-height: 43px;
  font-family: Poppins, sans-serif;
}
.section-three .desc {
  font-size: 18px;
  line-height: 168.79%;
  color: #15497e99;
  display: block;
  font-family: Poppins, sans-serif;
}
.section-three h2 {
  text-align: left;
  line-height: 60px;
  font-family: Libre Baskerville, serif;
  font-size: 42px;
  color: #15497e;
  /* max-width: 600px; */
  font-weight: 400;
}

.section-three h2 span {
  background: #e0ffaf;
  padding: 0px 10px;
}


/* Section-four */
.section-four .content .community {
  position: relative;
  background-image: url(spiral.png);
  padding: 16em 4em 14em;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-four .content .community:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -5em;
  background: url(community.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.section-four .content .center {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center !important;
  flex-direction: column !important;
}

.section-four .content .title-lg {
  font-size: 42px;
  line-height: 58px;
  font-family: Libre Baskerville, serif;
  max-width: 700px;
  text-align: center;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  background-color: #3ab75d;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  width: 150px;
}


/* Footer */
.footer{
  padding: 8em 0px 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d8ece4;
  gap: 25px;
}
.footer .title{
  font-weight: 400;
  font-size: 48px;
  color: #1d263a;
  line-height: 58px;
  font-family: Libre Baskerville, serif;
}
.footer .desc{
  font-size: 18px;
  color: #000428b3;
  text-align: center;
  line-height: 1.5;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  max-width: 500px;
  font-family: Poppins, sans-serif;
  
}
.footer-form{
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
}
.footer form{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer input{
  width: 500px;
  border: 0;
  outline: none;
  font-size: 14px;
  font-family: Poppins,sans-serif;
  font-weight: 400;
}
.footer-form a{  
  background-color: #0a043c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  min-width: 130px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 15px 16px 15px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.footer-links{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-links .links{
  display: flex;
  gap: 40px;
}
.footer-links .link-footer{
  text-decoration: none;
  font-size: 17px;
  color: #000428;
  font-family: Poppins,sans-serif;
}
.footer-links .copyright{
  line-height: 1.5;
  font-size: 21px;
  font-weight: 700;
  color: #000428;
  font-family: Poppins,sans-serif;
}
.footer .social-links{
  display: flex;
  /* justify-content: center;
  align-items: center;
  margin: auto; */
  /* gap: 30px; */
}
.footer .footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000428;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 300;
  transition: .5s ease-in-out;
  margin-right: 1.5em;
}
.footer .footer-icon:hover {
  background-color: #1da0f29b;
  color: white;
}
.footer a{
  text-decoration: none;
}
.arrow-icon{
  display: none;
  background: #15497e !important;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px 0 #00000024, 0 1px 18px 0 #0000001f;
}
.sticky-nav {
  display: none;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  /* max-width: 800px; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000000;
}
.logo-sticky img{
  width: 120px;
  height: 50px;
}

/* MENU STYLES */
.menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute; 
   top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: #cbe2fd;
  /* border-radius: 50%; */
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: black;
  padding: 1rem;
  font-size: 18px;
  color: #000428;
  font-family: Poppins, sans-serif;
}
.white-sm{
  font-size: 14px !important;
  color: white !important;

}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  transition: color 0.4s ease;
  text-decoration: none;
  
}





/* Responsive design */

@media (max-width:1100px) {
  .header-container {
    display: none;
  }
  .sticky-nav{
    display: flex;
  }
  .section-three-flex-two .num {
    font-size: 25px;
  }
  .section-three-flex-two .title {
    font-size: 24px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
  }
  .about, .section-one, .section-two {
    width: 95%;
  }

}

@media (max-width:1050px) {
  .footer-links {
    display: flex;
    flex-direction: column;
  }
    .footer .title{
    font-size: 35px;
  }
}
@media (max-width:980px) {
  .about .flex .flex-1{
  font-size: 30px;
}
  .section-three-flex-two .num {
    font-size: 22px;
    margin-right: 15px;
  }

  .section-three-flex-two .title {
    font-size: 22px;
  }
}
@media (max-width:800px) {
  .section-one .grid-three .item  .title{
  font-size: 20px;
  }
.section-one .grid-three .item .description {
  font-size: 16px;
  }
.section-one .grid-three .item i{
  font-size: 18px;
  }
  .section-two h2 {
  font-size: 30px;
}
.section-two-title {
  font-size: 18px;
  line-height: 20px;
}
.section-two {
  gap: 20px;
}
.left-flex,
.left-flex-two {
  gap: 15px;
}
.left-flex-two .item {
  gap: 10px;
}
.section-three {
  padding: 4em;
}
}

@media (max-width:750px) {
  .section-two {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 20px;
}
.section-two-right-bg{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.section-three{
  padding: 4em 25px;
}
.footer .title {
  font-size: 40px;
  text-align: center;
}

.footer .desc {
  font-size: 16px;
  max-width: 450px;

}
.footer input {
  width: 400px;
}
}

@media (max-width:680px) {
.main-hero-container h1 {
    font-size: 50px;
}
.about .flex .flex-1 {
  color: #15497e;
  font-size: 40px;
  line-height: 1;
}
.section-one .grid-three .item .title {
  font-size: 18px;
}
.section-one .grid-three .item .description {
  font-size: 14px;
}
.section-one h2 {
  font-size: 40px;
}
.footer-links .links {
  gap: 20px;
}
.footer input {
  width: 350px;
}
}
@media (max-width:650px) {
  .footer-form a{
    display: none;
  }
  .arrow-icon{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .section-one .grid-three {
    display: flex;
    flex-direction: column;
  }
  .section-one .grid-three .item {
    width: fit-content;
  }
  .section-one .grid-three .item .description {
    max-width: 400px;
  }
  .section-three h2 {
    font-size: 24px;
  }
  .section-three-flex {
    display: flex;
    flex-direction: column;
  }
  .about .flex{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .about .flex .flex-1 {
    font-size: 24px;
  }
  .footer-links .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-three{
    gap: 10px;
  }
}
@media (max-width:580px) {
  .footer input {
    width: 60%;
  }
  .main-hero-container h1 {
  font-size: 28px;
  line-height: 38px;
  width: 100%;
}
.footer .title {
font-size: 24px;
line-height: 34px;
text-align: center;
padding: 0 1.5em;
margin: 0 !important;
}
.section-four .content .community {
position: relative;
background: inherit;
padding: 2em 4em 14em;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
}

.section-four .content .community:before {
position: absolute;
content: "";
width: 100%;
height: 100%;
left: 0;
top: -5em;
background: inherit;
background-repeat: no-repeat;
background-size: contain;
background-position: 50%;
}
.section-four .content .title-lg {
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 10px;
}
.section-two-desc {
  padding:10px ;
}
}
@media (max-width:400px) {
.section-one h2 {
  padding: 10px;
  line-height: 38px;
  font-size: 30px;
}
}
@media (max-width:350px) {
.section-one h2 {
  line-height: 25px;
  font-size: 24px;
}
}





/* Login Page */
.login-container{
  background: linear-gradient(151.61deg, #15497e 17.54%, #54c491 206.25%);
  min-height: 100vh;
  padding: 2em 4em;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}
.login-container .language{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.login-container .language .mode{
  color: white;
  font-size: 14px;
  font-family: Poppins,sans-serif;
}
.login-container .languages {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10000;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
}
.login-container .languages .item{
  font-size: 14px;
  font-family: Poppins,sans-serif;
}
.login-container .form-container{
  /* width: 548px; */
    border: 1px solid #21335e26;
    /* min-height: 485px; */
    margin: 4em auto;
    background: #fff;
    border-radius: 15px;
    padding: 4em 2em 2em;
    position: relative;
    overflow: hidden;
}
.login-container .form-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.login-container .form-container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.login-container .form-container h2{
  text-align: center;
  font-size: 23px;
  color: #323b4b;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  font-family: Libre Baskerville, serif;
}
.login-container .form-container .sub-title {
  display: block;
  font-size: 16px;
  color: #a9a5af;
  font-weight: 200;
  font-family: GelionFont;
  text-align: center;
}
.input-one-container, .input-two-container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #21335e26;
  font-size: 18px;
  gap: 20px;
  font-family: Roboto;
  height: 55px;
  width: 480px;
  font-size: 18px;
}
.input-one-container:hover,
.input-two-container:hover {
  border: 1px solid #198754;
}
.at , .lock, .eye-icon{
  opacity: 0.7;
}
.login-container input{
  border: none;
  width: 90%;
  font-family: Roboto;
  font-size: 18px;
  color: #808191;
}
.login-container input:focus {
  outline: none;
}
.login-container .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login-container .links .checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  gap: 10px;
  color: #808191;
}
#checkbox{
  color:#198754;
  background:#198754;
}
.links a {
  text-decoration: none;
}
.forgot-password{
  font-size: 16px;
  text-decoration: none;
  color: #eb5757;
}
.login-container .link-btn{  
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .new-account{
  color: #808191;
  font-size: 14px;
}
.login-container .new-account span{
  color: #0d6efd;
}


@media (max-width:700px) {
  .input-one-container,
    .input-two-container {
      width: 400px;
    }
}


@media (max-width:550px) {
  .input-one-container,
    .input-two-container {
      width: 380px;
    }
}
@media (max-width:500px) {
  .input-one-container,
    .input-two-container {
      width: 300px;
    }
}
@media (max-width:470px) {

  .input-one-container,
  .input-two-container {
    width: 280px;
  }
  .login-container .form-container{
    padding: 4em 16px 2em 16px;
    margin:80px 20px 20px 20px;
}
  
}
@media (max-width:400px) {

  .input-one-container,
  .input-two-container {
    width: 300px;
  }
  .login-container .form-container{
    padding: 4em 10px 2em 10px;
}
  
}
@media (max-width:370px) {

  .input-one-container,
  .input-two-container {
    width: 300px;
  }
  .login-container .form-container{
    padding: 4em 10px 2em 10px;
}
  
}
@media (max-width:350px) {

  .input-one-container,
  .input-two-container {
    width: 250px;
  }
  .login-container .form-container{
    padding: 4em 10px 2em 10px;
}
  
}